# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency folders
node_modules/
dist/
dist-ssr/
build/

# Local environment config
.env
*.local

# Coverage reports
coverage/

# OS/System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/*
!.vscode/extensions.json
.idea/

# Visual Studio (for teammates who might use Windows)
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
